# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Log files
*.log

# Ignore trained models (optional - remove if you want to upload them)
models/*.zip